{% extends "menu.html" %}

{# set menu in active mode #}
{% block nav-carat %} class="active"{% endblock %}

{% block title %}GEA | Carátula{% endblock %}

{% block content %}
<form class="form-horizontal col-lg-6" method="post">{% csrf_token %}
  <legend><i class="fa fa-sticky-note"></i> Generar Carátula de Plano de Mensura</legend>
  <fieldset>
    <div class="form-group">
      <table class="table table-condensed table-hover">
      {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary pull-right">Generar Carátula</button>
    </div>
  </fieldset>
</form>
{% endblock %}
